.project-list
  height: 100vh
  width: 400px
  background: #27272A
  
.name-proj 
  width: 100%
  height: 44px
  border-bottom: 1px solid #414144
  padding: 10px
  display: flex
  justify-content: space-between
  align-items: center
  color: #A1A1AA

.list
  width: 100%

  display: flex
  justify-content: center 
  align-items: flex-start
  flex-direction: column
  gap: 10px
  color: white
  &__item
    height: 30px
    width: 100%
    padding: 20px 0

    text-decoration: none
    color: white
    
    display: flex
    justify-content: flex-start 
    align-items: center

    cursor: pointer
    &:hover
      background-color: #A1A1AA
    &__icon
      width: 24px
      height: 24px
      margin: 10px
      background: url(../../assets/name=Default.svg) no-repeat center center
    
